<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style_post_home.css">
  <title></title>
</head>
<body>
  <div id="container" class="container">

    <header>
      <nav class="menu" id="menu">
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Acerca de</a></li>
          <li><a href="#">Informacion</a></li>
        </ul>
      </nav>
    </header>

    <section id="main" class="main">
      <div id="thumb" class="thumb"></div>
      <article>
        <h1>Titulo del Articulo</h1>
        <p>
          Consectetur maiores aliquam dolore impedit vitae. Minima debitis quas nulla.
          Consectetur maiores aliquam dolore impedit vitae. Minima debitis quas nulla.
          Consectetur maiores aliquam dolore impedit vitae. Minima debitis quas nulla.
          Consectetur maiores aliquam dolore impedit vitae. Minima debitis quas nulla.
          Consectetur maiores aliquam dolore impedit vitae. Minima debitis quas nulla.
          Consectetur maiores aliquam dolore impedit vitae. Minima debitis quas nulla.
          Consectetur maiores aliquam dolore impedit vitae. Minima debitis quas nulla.
          Consectetur maiores aliquam dolore impedit vitae. Minima debitis quas nulla.
          Consectetur maiores aliquam dolore impedit vitae. Minima debitis quas nulla.
        </p>
        <p>
          Consectetur maiores aliquam dolore impedit vitae. Minima debitis quas nulla.
          Consectetur maiores aliquam dolore impedit vitae. Minima debitis quas nulla.
          Consectetur maiores aliquam dolore impedit vitae. Minima debitis quas nulla.
          Consectetur maiores aliquam dolore impedit vitae. Minima debitis quas nulla.
          Consectetur maiores aliquam dolore impedit vitae. Minima debitis quas nulla.
          Consectetur maiores aliquam dolore impedit vitae. Minima debitis quas nulla.
        </p>
      </article>
    </section>

    <aside>
      <div id="add" class="add">ad</div>
      <div id="add" class="add">ad</div>
      <div id="information" class="information">
        <h3>more of web</h3>
        <ul>
          <li><a href="#">Dolor expedita consectetur</a></li>
          <li><a href="#">Dolor expedita consectetur</a></li>
          <li><a href="#">Dolor expedita consectetur</a></li>
          <li><a href="#">Dolor expedita consectetur</a></li>
        </ul>
      </div>
    </aside>

    <footer>
      <p>Jorge Donaires-Derechos Reservado</p>
      <div id="redes" class="redes">
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Github</a></li>
        </ul>
      </div>
    </footer>
    
  </div>
</body>
</html>
